.container-main {
  padding: 1.5em;
  padding-bottom: 5em;
  border: 1 px solid red;
}
#box-risposta {
  max-width: fit-content;
  background-color: #666666;
  color: #fff;
  border-radius: 8px;
  p {
    margin: 0;
  }
}

#box-richiesta {
  max-width: fit-content;
  background-color: #666666;
  color: #fff;
  border-radius: 12px;
  margin-top: 1.5em;
  text-align: start;
  p {
    margin: 0;
  }
}
.height-70 {
  height: 70vh;
}
#box-chat {
  overflow-y: scroll;
}
markdown pre code {
  background-color: #171717;
}
