/* You can add global styles to this file, and also import other style files */
p{
    padding: 0;
    margin: 0;
}

pre {
    background-color: #171717;
    padding: 1.5em ;
    border-radius: 12px;
}